idp-schema/src/main/resources/schema/shibboleth-metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:shibmd="urn:mace:shibboleth:2.0:metadata" xmlns:security="urn:mace:shibboleth:2.0:security" xmlns:res="urn:mace:shibboleth:2.0:resource" xmlns:saml2md="urn:oasis:names:tc:SAML:2.0:metadata" targetNamespace="urn:mace:shibboleth:2.0:metadata" elementFormDefault="qualified">

    <annotation>
        <documentation>Schema describing metadata providers and filters.</documentation>
    </annotation>

    <import namespace="urn:oasis:names:tc:SAML:2.0:metadata" schemaLocation="http://docs.oasis-open.org/security/saml/v2.0/saml-schema-metadata-2.0.xsd"/>
    <import namespace="urn:mace:shibboleth:2.0:resource" schemaLocation="http://shibboleth.net/schema/idp/shibboleth-resource.xsd"/>
    <import namespace="urn:mace:shibboleth:2.0:security" schemaLocation="http://shibboleth.net/schema/idp/shibboleth-security.xsd"/>

    <element name="MetadataProvider" type="shibmd:MetadataProviderType">
        <annotation>
            <documentation>Defines a provider of SAML 2 metadata information.</documentation>
        </annotation>
    </element>
    <complexType name="ChainingMetadataProvider">
        <annotation>
            <documentation>
                A metadata provider that composes other metadata providers. During a lookup operation member providers
                are searched in the order they listed in this providers configuration until one provides a response to
                the lookup. That response is then returned, no subsequent member providers are inspected. Note, that
                metadata filters and the require valid metadata flag expressed on this configuration overrides those
                settings on member providers.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:MetadataProviderType">
                <sequence>
                    <element ref="shibmd:MetadataProvider" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>
                                A member metadata provider that will be searched for information.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ResourceBackedMetadataProvider">
        <annotation>
            <documentation>A metadata provider that reads metadata from a Resource.</documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:ReloadingMetadataProviderType">
                <sequence>
                    <element name="MetadataResource" type="res:ResourceType">
                        <annotation>
                            <documentation>The resource from which metadata will be read.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="maxCacheDuration" type="string">
                    <annotation>
                        <documentation>This property is deprecated, use maxRefreshDelay instead.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="InlineMetadataProvider">
        <annotation>
            <documentation>A metadata provider that allows SAML 2 metadata to be specified inline.</documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:MetadataProviderType">
                <choice>
                    <element ref="saml2md:EntitiesDescriptor">
                        <annotation>
                            <documentation>A SAML 2 metadata EntitiesDescriptor declaration.</documentation>
                        </annotation>
                    </element>
                    <element ref="saml2md:EntityDescriptor">
                        <annotation>
                            <documentation>A SAML 2 metadata EntitiesDescriptor declaration.</documentation>
                        </annotation>
                    </element>
                </choice>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="FileBackedHTTPMetadataProvider">
        <annotation>
            <documentation>
                A metadata provider that periodically pulls metadata from a given URL. If the metadata is valid it is
                stored to disk. If the the provided URL can not be reached or the metadata retrieved is invalid this
                provider will fall back to its on-disk copy.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:HTTPMetadataProvider">
                <attribute name="backingFile" type="string" use="required">
                    <annotation>
                        <documentation>
                            The path to the temporary file used to store valid metadata on-disk.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="HTTPMetadataProvider">
        <annotation>
            <documentation>A metadata provider that periodically pulls metadata from a given URL.</documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:ReloadingMetadataProviderType">
                <attribute name="metadataURL" type="anyURI" use="required">
                    <annotation>
                        <documentation>The URL from which to retrieve the metadata.</documentation>
                    </annotation>
                </attribute>
                <attribute name="disregardSslCertificate" type="string">
                    <annotation>
                        <documentation>Server certificate will be ignored when fetching from an HTTPS source.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="maintainExpiredMetadata" type="string">
                    <annotation>
                        <documentation>This is deprecated, use requireValidMetadata instead.</documentation>
                    </annotation>
                </attribute>
                <attribute name="cacheDuration" type="string">
                    <annotation>
                        <documentation> This is deprecated, use maxRefreshDelay instead.</documentation>
                    </annotation>
                </attribute>
                <attribute name="requestTimeout" type="string">
                    <annotation>
                        <documentation>
                            The maximum length of time to wait for the remote server to response.

                            Timeout is expressed in ISO8601 duration notation.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="proxyHost" type="string">
                    <annotation>
                        <documentation>Hostname of the HTTP proxy through which connections will be made.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="proxyPort" type="string">
                    <annotation>
                        <documentation>Port of the HTTP proxy through which connections will be made.</documentation>
                    </annotation>
                </attribute>
                <attribute name="proxyUser" type="string">
                    <annotation>
                        <documentation>User name used with the HTTP proxy through which connections will be made.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="proxyPassword" type="string">
                    <annotation>
                        <documentation>Password used with the HTTP proxy through which connections will be made.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="basicAuthUser" type="string">
                    <annotation>
                        <documentation>
                            The user name to provide, during basic authentication, when connecting to the remote server.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="basicAuthPassword" type="string">
                    <annotation>
                        <documentation>
                            The password to provide, during basic authentication, when connecting to the remote server.
                        </documentation>
                    </annotation>
                </attribute>
                <!-- Need to deal with socket factory -->
            </extension>
        </complexContent>
    </complexType>

    <complexType name="FilesystemMetadataProvider">
        <annotation>
            <documentation>A metatadata provider that reads SAML2 metadata from the filesystem.</documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:ReloadingMetadataProviderType">
                <attribute name="metadataFile" type="string" use="required">
                    <annotation>
                        <documentation>The path to the metadata file.</documentation>
                    </annotation>
                </attribute>
                <attribute name="maintainExpiredMetadata" type="string">
                    <annotation>
                        <documentation>This is deprecated, use requireValidMetadata instead.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ReloadingMetadataProviderType" abstract="true">
        <annotation>
            <documentation>A metadata provider that periodically reloads a cached metadata document.</documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:MetadataProviderType">
                <attribute name="parserPoolRef" type="string">
                    <annotation>
                        <documentation>ID of the parser pool used to parse incoming metadata.</documentation>
                    </annotation>
                </attribute>
                <attribute name="taskTimerRef" type="string">
                    <annotation>
                        <documentation>ID of the task timer used to schedule background refresh jobs.</documentation>
                    </annotation>
                </attribute>
                <attribute name="refreshDelayFactor" type="string">
                    <annotation>
                        <documentation>Factor applied to metadata's expiration time in order to determine next refresh
                            time. Must be between 0.0 and 1.0, exclusive.</documentation>
                    </annotation>
                </attribute>
                <attribute name="maxRefreshDelay" type="string">
                    <annotation>
                        <documentation>Maximum amount time, from the previous, before a metadata refresh cycle runs.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="minRefreshDelay" type="string">
                    <annotation>
                        <documentation>Minimum amount of time, from the previous, before a metadata refresh cycle runs.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="MetadataProviderType" abstract="true">
        <sequence>
            <element ref="shibmd:MetadataFilter" minOccurs="0">
                <annotation>
                    <documentation>
                        A filter to be applied to metadata after it has been parsed and validated.
                    </documentation>
                </annotation>
            </element>
            <element ref="security:TrustEngine" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                       Trust engines used by a filter
                    </documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="id" type="ID" use="required">
            <annotation>
                <documentation>A unique identifier that may be used to identify a particular provider</documentation>
            </annotation>
        </attribute>
        <attribute name="requireValidMetadata" type="string">
            <annotation>
                <documentation>
                    A boolean flag indicating whether the metadata retrieved must be valid. At a minimum, metadata is
                    valid only if the date expressed in entity's validUntil attribute has not passed. Specific
                    implementations may add additional constraints.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="failFastInitialization" type="string">
            <annotation>
                <documentation>Determines if the metadata provider "fails fast" during initialization. This means that
                    if there is a problem initializing the metadata provider it will stop the IdP from starting.
                </documentation>
            </annotation>
        </attribute>
    </complexType>

    <element name="MetadataFilter" type="shibmd:MetadataFilterType">
        <annotation>
            <documentation>
                Defines a filter that is applied to SAML2 metadata after it has been parsed and validated.
                Filters may be used to remove unnecessary information or perform other transformative logic.
            </documentation>
        </annotation>
    </element>

    <complexType name="ChainingFilter">
        <annotation>
            <documentation>
                A filter that executes other filters in the order they appear in the configuration.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:MetadataFilterType">
                <sequence>
                    <element ref="shibmd:MetadataFilter" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>
                                A filter to be applied to metadata after it has been parsed and validated.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="RequiredValidUntil">
        <annotation>
            <documentation>
                A filter that requires the presence of a validUntil attribute on the root of the metadata and,
                optionally, requires that that date not be more than some amount of time in the future.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:MetadataFilterType">
                <attribute name="maxValidityInterval" type="string">
                    <annotation>
                        <documentation>
                            The maximum amount of time, from now, which the validUntil attribute may be set.
                            This provides an upper limit to the lifetime of any metadata.

                            Interval is expressed in ISO8601 duration notation.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="SchemaValidation">
        <annotation>
            <documentation>
                A filter that checks, and optionally requires, the signature on the top level of the incoming metadata.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:MetadataFilterType">
                <sequence>
                    <element name="ExtensionSchema" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>
                                Classpath location of schema files that will be used, in addition to those included in
                                OpenSAML, to validate an incoming metadata file.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="SignatureValidation">
        <annotation>
            <documentation>
                A filter that checks, and optionally requires, the signature on the top level of the incoming metadata.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:MetadataFilterType">
                <sequence>
                    <element name="PublicKey" type="string" minOccurs="0" maxOccurs="1">
                        <annotation>
                            <documentation>
                                The PEM of the public key used to sign the metadata.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="trustEngineRef" type="string">
                    <annotation>
                        <documentation>The ID of the trust engine used to validate the signature.</documentation>
                    </annotation>
                </attribute>
                <attribute name="requireSignedMetadata" type="string">
                    <annotation>
                        <documentation>
                            A boolean flag indicating whether a signature is required on incoming metadata.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="certificateFile" type="string">
                    <annotation>
                        <documentation>
                            The location of a file containing a certificate with the public key to test against.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="EntityRoleWhiteList">
        <annotation>
            <documentation>
                A filter that removes roles from an EntityDescriptor that do not appear in the filter's whitelist.
                Optionally an EntityDescriptor may be completely removed if it does not contain at least one role after
                the filter. EntitiesDescriptors may be removed if they do not contain at least one entity or entities
                descriptor after the filtering.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:MetadataFilterType">
                <sequence>
                    <element name="RetainedRole" type="QName" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>
                                The effective QName for the roles which should not NOT be removed by the filter. The
                                effective name is the element name for those roles defined within the SAML metadata
                                specification and the schema type name for those that are not.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="removeRolelessEntityDescriptors" type="string">
                    <annotation>
                        <documentation>
                            A boolean flag indicating that entity descriptors that do not contain at least one role,
                            after filtering, should be removed.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="removeEmptyEntitiesDescriptors" type="string">
                    <annotation>
                        <documentation>
                            A boolean flag indicating that entities descriptors that do not contain at least one entity
                            or entities descriptor, after filtering, shouldbe removed.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="Predicate">
        <annotation>
            <documentation>
                A filter that whitelists or blacklists EntityDescriptors based on the result of applying a Predicate
                to each EntityDescriptor in the source. Limited syntax is provided for common cases, along with the
                ability to reference a Spring bean as the Predicate. EntitiesDescriptors may be removed if they do not
                contain at least one entity or entities descriptor after the filtering.
                
                All predicates implicitly or explicitly combined are a conjunction (OR). For alternative strategies,
                use conditionRef alone. 
            </documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:MetadataFilterType">
                <choice minOccurs="0" maxOccurs="unbounded">
                    <element name="Entity" type="string">
                        <annotation>
                            <documentation>
                                An entityID to use in a predicate that matches on entityID. 
                            </documentation>
                        </annotation>
                    </element>
                    <element name="Group" type="string">
                        <annotation>
                            <documentation>
                                A name to use in a predicate that matches on EntitiesDescriptor group/containment. 
                            </documentation>
                        </annotation>
                    </element>
                    <element name="Tag">
                        <annotation>
                            <documentation>
                                A rule to use in a predicate that matches on EntityAttributes extensions.
                            </documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element name="Value" type="string" maxOccurs="unbounded"/>
                            </sequence>
                            <attribute name="name" type="string" use="required" />
                            <attribute name="nameFormat" type="string"/>
                        </complexType>
                    </element>
                </choice>
                <attribute name="direction" type="string" use="required">
                    <annotation>
                        <documentation>
                            One of the values "include" or "exclude" indicating whether to whitelist or blacklist
                            entities that satisfy the Predicate used.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="conditionRef" type="string">
                    <annotation>
                        <documentation>
                            The ID of a Spring bean to inject as a condition Predicate.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="trim" type="string">
                    <annotation>
                        <documentation>
                            A boolean flag indicating whether a Predicate based on EntityAttribute extensions
                            should trim values before comparison. Defaults to false.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="removeEmptyEntitiesDescriptors" type="string">
                    <annotation>
                        <documentation>
                            A boolean flag indicating that entities descriptors that do not contain at least one entity
                            or entities descriptor, after filtering, shouldbe removed.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="NodeProcessing">
        <annotation>
            <documentation>
                A metadata filter that applies a sequence of node processor plugins to the tree.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:MetadataFilterType">
                <sequence>
                    <element ref="shibmd:MetadataNodeProcessor" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>
                                A node processor to be applied.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="MetadataFilterType" abstract="true"/>
    
    <element name="MetadataNodeProcessor" type="shibmd:MetadataNodeProcessorType">
        <annotation>
            <documentation>
                Defines a plugin that walks the tree of objects in an unmarshalled metadata instance.
            </documentation>
        </annotation>
    </element>
    
    <complexType name="EntitiesDescriptorName">
        <annotation>
            <documentation>
                A node processor that attaches Name information from enclosing EntitiesDescriptors to
                an entity via an extension object, to maintain group information while flattening the tree.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:MetadataNodeProcessorType"/>
        </complexContent>
    </complexType>

    <complexType name="KeyAuthority">
        <annotation>
            <documentation>
                A node processor that processes KeyAuthority extensions and attaches the parsed PKIX
                information via an extension object.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="shibmd:MetadataNodeProcessorType"/>
        </complexContent>
    </complexType>
    
    <complexType name="MetadataNodeProcessorType" abstract="true"/>
</schema>
