resources/classpath/schema/shibboleth-2.0-credential.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
             targetNamespace="urn:mace:shibboleth:2.0:credential" 
             xmlns:credential="urn:mace:shibboleth:2.0:credential">
             
    <complexType name="KeyStoreCredential">
        <complexContent>
            <extension base="credential:CredentialType">
                <attribute name="keystoreFile" type="string" use="required" />
                <attribute name="keystorePassword" type="string" />
                <attribute name="keyAlias" type="string" use="required" />
                <attribute name="keyPassword" type="string" />
                <attribute name="certificateAlias" type="string" />
            </extension>
        </complexContent>
    </complexType>
    
    <complexType name="FilesystemCredential">
        <complexContent>
            <extension base="credential:CredentialType">
                <sequence>
                    <element name="Key">
                        <complexType>
                            <attribute name="keyFile" type="string" use="required" />
                            <attribute name="filePassword" type="string" use="required" />
                        </complexType>
                    </element>
                    <element name="Certificate">
                        <complexType>
                            <sequence>
                                <element name="CACertificate" type="string" minOccurs="0" maxOccurs="unbounded" />
                            </sequence>
                            <attribute name="certificateFile" type="string" use="required" />
                            <attribute name="filePassword" type="string" use="required" />
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    
    <element name="Credential" type="credential:CredentialType" />
    <complexType name="CredentialType" abstract="true">
        <sequence>
            <any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        <attribute name="id" type="ID" use="required" />
        <anyAttribute namespace="##any" processContents="lax"/>
    </complexType>
    
</schema>