resources/classpath/schema/shibboleth-2.0-relying-party.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:mace:shibboleth:2.0:relying-party"
    xmlns:rp="urn:mace:shibboleth:2.0:relying-party" xmlns:cred="urn:mace:shibboleth:2.0:credential"
    xmlns:saml2="urn:oasis:names:tc:SAML:2.0:assertion" elementFormDefault="qualified">

    <import namespace="urn:mace:shibboleth:2.0:credential"
        schemaLocation="classpath:/schema/shibboleth-2.0-credential.xsd" />
    <import namespace="urn:oasis:names:tc:SAML:2.0:assertion"
        schemaLocation="classpath:/schema/saml-schema-assertion-2.0.xsd" />

    <element name="RelyingParty" type="rp:IdentifiedRelyingPartyType">
        <annotation>
            <documentation>
                A set of configuration options specific to a given relying party or group of relying parties as
                expressed in SAML 2 metadata. Note, configuration options are not inherited from either the default
                relying party or ancestral groups.
            </documentation>
        </annotation>
    </element>
    <element name="DefaultRelyingParty" type="rp:UnidentifiedRelyingParty">
        <annotation>
            <documentation>
                The default set of configuration options to use for relying parties/groups not specifically called out.
            </documentation>
        </annotation>
    </element>
    <element name="AnonymousRelyingParty" type="rp:UnidentifiedRelyingParty">
        <annotation>
            <documentation>
                The set of configuration options to use for relying parties/groups which are not authenticated or known
                to the system.
            </documentation>
        </annotation>
    </element>

    <complexType name="IdentifiedRelyingPartyType">
        <annotation>
            <documentation>A relying party configuration specific to a particular relying party.</documentation>
        </annotation>
        <complexContent>
            <extension base="rp:UnidentifiedRelyingParty">
                <attribute name="id" type="string" use="required">
                    <annotation>
                        <documentation>The entity ID of the relying party.</documentation>
                    </annotation>
                </attribute>
                <attribute name="provider" type="string" use="required">
                    <annotation>
                        <documentation>
                            The entity ID the responder should use when communicating with the relying party.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="UnidentifiedRelyingParty">
        <annotation>
            <documentation>
                Relying party configuration information that is not specific to an identified relying party.
            </documentation>
        </annotation>
        <sequence>
            <element name="DefaultSigningCredental" type="cred:CredentialType" minOccurs="0">
                <annotation>
                    <documentation>
                        The default signing credential for the relying party. This is provided as a convenience method
                        so that this credential need not be defined on every signing supporting profile configuration.
                        If a profile configuration has a defined signing credential it must be used in place of the
                        credential retrieved here.
                    </documentation>
                </annotation>
            </element>
            <element ref="rp:ProfileConfiguration" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>Profile specific configuration information.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="SAML2ArtifactResolutionProfile">
        <annotation>
            <documentation>SAML 2.0 artifact query communication profile configuration.</documentation>
        </annotation>
        <complexContent>
            <extension base="rp:SAML2ProfileConfigurationType" />
        </complexContent>
    </complexType>

    <complexType name="SAML2AttributesQueryProfile">
        <annotation>
            <documentation>SAML 2.0 attribute query communication profile configuration.</documentation>
        </annotation>
        <complexContent>
            <extension base="rp:SAML2ProfileConfigurationType" />
        </complexContent>
    </complexType>

    <complexType name="SAML2LogoutRequestProfile">
        <annotation>
            <documentation>SAML 2.0 logout request communication profile configuration.</documentation>
        </annotation>
        <complexContent>
            <extension base="rp:SAML2ProfileConfigurationType" />
        </complexContent>
    </complexType>

    <complexType name="SAML2SSOProfile">
        <annotation>
            <documentation>SAML 2.0 single sign-on communication profile configuration.</documentation>
        </annotation>
        <complexContent>
            <extension base="rp:SAML2ProfileConfigurationType" />
        </complexContent>
    </complexType>

    <complexType name="SAML2ProfileConfigurationType" abstract="true">
        <annotation>
            <documentation>Base type for SAML 2.0 communication profile configurations.</documentation>
        </annotation>
        <complexContent>
            <extension base="rp:SAMLProfileConfigurationType">
                <sequence>
                    <!--  TODO Encryption related credentials -->
                </sequence>
                <attribute name="encryptNameIds" type="boolean" default="false">
                    <annotation>
                        <documentation>A boolean flag indicating whether NameIDs should be encrypted.</documentation>
                    </annotation>
                </attribute>
                <attribute name="encryptAssertions" type="boolean" default="false">
                    <annotation>
                        <documentation>A boolean flag indicating whether assertions should be encrypted.</documentation>
                    </annotation>
                </attribute>
                <attribute name="proxyCount" type="nonNegativeInteger" default="0">
                    <annotation>
                        <documentation>The maximum number of times an assertion may be proxied.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="SAML1ArtifactQueryProfile">
        <annotation>
            <documentation>SAML 1.0 and 1.1 artifact query communication profile configurations.</documentation>
        </annotation>
        <complexContent>
            <extension base="rp:SAML1ProfileConfigurationType" />
        </complexContent>
    </complexType>

    <complexType name="SAML1AttributeQueryProfile">
        <annotation>
            <documentation>SAML 1.0 and 1.1 attribute query communication profile configurations.</documentation>
        </annotation>
        <complexContent>
            <extension base="rp:SAML1ProfileConfigurationType" />
        </complexContent>
    </complexType>

    <complexType name="ShibbolethSSOProfile">
        <annotation>
            <documentation>Shibboleth 1 single sign-on communication profile configurations.</documentation>
        </annotation>
        <complexContent>
            <extension base="rp:SAML1ProfileConfigurationType" />
        </complexContent>
    </complexType>

    <complexType name="SAML1ProfileConfigurationType" abstract="true">
        <annotation>
            <documentation>Base type for SAML 1.0 and 1.1 communication profile configurations.</documentation>
        </annotation>
        <complexContent>
            <extension base="rp:SAMLProfileConfigurationType" />
        </complexContent>
    </complexType>

    <complexType name="SAMLProfileConfigurationType" abstract="true">
        <annotation>
            <documentation>Base type for SAML (1.0, 1.1, and 2.0) communication profile configurations.</documentation>
        </annotation>
        <complexContent>
            <extension base="rp:ProfileConfigurationType">
                <sequence>
                    <element ref="cred:SigningCredential" minOccurs="0">
                        <annotation>
                            <documentation>Credential to use to sign SAML assertions.</documentation>
                        </annotation>
                    </element>
                    <element name="Audience" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>List of audiences for issued assertions.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="assertionLifetime" type="long" default="300000">
                    <annotation>
                        <documentation>
                            The amount of time, in milliseconds, an before an issued assertion expires. A negative value
                            indicates the assertion never expires.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="defaultNameFormat" type="anyURI">
                    <annotation>
                        <documentation>The default subject name format to use.</documentation>
                    </annotation>
                </attribute>
                <attribute name="defaultArtifactType" type="integer" default="4">
                    <annotation>
                        <documentation>The default artifact type to use.</documentation>
                    </annotation>
                </attribute>
                <attribute name="signAssertions" type="boolean" default="true">
                    <annotation>
                        <documentation>
                            A boolean flag indicating whether issued assertions should be signed. If no signing
                            credential is provided on this configuration and no default signing credential is provided
                            on the relying party configuration than signing will not occur regardless of this setting.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <element name="ProfileConfiguration" type="rp:ProfileConfigurationType" />
    <complexType name="ProfileConfigurationType" abstract="true">
        <annotation>
            <documentation>
                An abstract type from which all profile specific configuration types are derived.
            </documentation>
        </annotation>
    </complexType>

</schema>