resources/classpath/schema/shibboleth-2.0-relying-party-saml.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="urn:mace:shibboleth:2.0:relying-party:saml" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:samlrp="urn:mace:shibboleth:2.0:relying-party:saml" xmlns:rp="urn:mace:shibboleth:2.0:relying-party"
    elementFormDefault="qualified">

    <import namespace="urn:mace:shibboleth:2.0:relying-party"
        schemaLocation="classpath:/schema/shibboleth-2.0-relying-party.xsd" />

    <complexType name="SAML2ArtifactResolutionProfile">
        <annotation>
            <documentation>SAML 2.0 artifact query communication profile configuration.</documentation>
        </annotation>
        <complexContent>
            <extension base="samlrp:SAML2ProfileConfigurationType" />
        </complexContent>
    </complexType>

    <complexType name="SAML2AttributeQueryProfile">
        <annotation>
            <documentation>SAML 2.0 attribute query communication profile configuration.</documentation>
        </annotation>
        <complexContent>
            <extension base="samlrp:SAML2ProfileConfigurationType" />
        </complexContent>
    </complexType>

    <complexType name="SAML2LogoutRequestProfile">
        <annotation>
            <documentation>SAML 2.0 logout request communication profile configuration.</documentation>
        </annotation>
        <complexContent>
            <extension base="samlrp:SAML2ProfileConfigurationType" />
        </complexContent>
    </complexType>

    <complexType name="SAML2SSOProfile">
        <annotation>
            <documentation>SAML 2.0 single sign-on communication profile configuration.</documentation>
        </annotation>
        <complexContent>
            <extension base="samlrp:SAML2ProfileConfigurationType">
                <attribute name="localityAddress" type="string">
                    <annotation>
                        <documentation>
                            Overrides the authentication statement's subject locality address.  This can be useful if
                            the IdP is NAT'ed, as it is, for example, in some load balancing scenarios.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="localityDNSName" type="string">
                    <annotation>
                        <documentation>
                            Overrides the authentication statement's subject DNS name.  This can be useful if
                            the IdP is NAT'ed, as it is, for example, in some load balancing scenarios.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="includeAttributeStatement" type="boolean" default="true">
                    <annotation>
                        <documentation>
                            Boolean flag indicating whether an attribute statement should be included with the
                            authentication statement in the response sent back to the relying party.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="SAML2ProfileConfigurationType" abstract="true">
        <annotation>
            <documentation>Base type for SAML 2.0 communication profile configurations.</documentation>
        </annotation>
        <complexContent>
            <extension base="samlrp:SAMLProfileConfigurationType">
                <sequence>
                    <element name="ProxyAudience" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>List of audiences for proxied assertions.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="encryptNameIds" type="boolean" default="false">
                    <annotation>
                        <documentation>A boolean flag indicating whether NameIDs should be encrypted.</documentation>
                    </annotation>
                </attribute>
                <attribute name="encryptAssertions" type="boolean" default="false">
                    <annotation>
                        <documentation>A boolean flag indicating whether assertions should be encrypted.</documentation>
                    </annotation>
                </attribute>
                <attribute name="assertionProxyCount" type="nonNegativeInteger" default="0">
                    <annotation>
                        <documentation>The maximum number of times an assertion may be proxied.</documentation>
                    </annotation>
                </attribute>
                <attribute name="attributeAuthority" type="string" default="shibboleth.SAML2AttributeAuthority">
                    <annotation>
                        <documentation>
                            Name of the attribute authority component to make available within this configuration.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="SAML1ArtifactResolutionProfile">
        <annotation>
            <documentation>SAML 1.0 and 1.1 artifact query communication profile configurations.</documentation>
        </annotation>
        <complexContent>
            <extension base="samlrp:SAML1ProfileConfigurationType" />
        </complexContent>
    </complexType>

    <complexType name="SAML1AttributeQueryProfile">
        <annotation>
            <documentation>SAML 1.0 and 1.1 attribute query communication profile configurations.</documentation>
        </annotation>
        <complexContent>
            <extension base="samlrp:SAML1ProfileConfigurationType" />
        </complexContent>
    </complexType>

    <complexType name="ShibbolethSSOProfile">
        <annotation>
            <documentation>Shibboleth 1 single sign-on communication profile configurations.</documentation>
        </annotation>
        <complexContent>
            <extension base="samlrp:SAML1ProfileConfigurationType">
                <attribute name="localityAddress" type="string">
                    <annotation>
                        <documentation>
                            Overrides the authentication statement's subject locality address.  This can be useful if
                            the IdP is NAT'ed, as it is, for example, in some load balancing scenarios.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="localityDNSName" type="string">
                    <annotation>
                        <documentation>
                            Overrides the authentication statement's subject DNS name.  This can be useful if
                            the IdP is NAT'ed, as it is, for example, in some load balancing scenarios.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="includeAttributeStatement" type="boolean" default="false">
                    <annotation>
                        <documentation>
                            Boolean flag indicating whether an attribute statement should be included with the
                            authentication statement in the response sent back to the relying party.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="SAML1ProfileConfigurationType" abstract="true">
        <annotation>
            <documentation>Base type for SAML 1.0 and 1.1 communication profile configurations.</documentation>
        </annotation>
        <complexContent>
            <extension base="samlrp:SAMLProfileConfigurationType">
                <attribute name="attributeAuthority" type="string" default="shibboleth.SAML1AttributeAuthority">
                    <annotation>
                        <documentation>
                            Name of the attribute authority component to make available within this configuration.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="SAMLProfileConfigurationType" abstract="true">
        <annotation>
            <documentation>Base type for SAML (1.0, 1.1, and 2.0) communication profile configurations.</documentation>
        </annotation>
        <complexContent>
            <extension base="rp:ProfileConfigurationType">
                <sequence>
                    <element name="Audience" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>List of audiences for issued assertions.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="assertionLifetime" type="long" default="300000">
                    <annotation>
                        <documentation>
                            The amount of time, in milliseconds, before an issued assertion expires. A negative value
                            indicates the assertion never expires.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="outboundArtifactType" type="integer">
                    <annotation>
                        <documentation>The artifact type to use when sending an outbound, artifact encoded, message.</documentation>
                    </annotation>
                </attribute>
                <attribute name="signingCredentialRef" type="string">
                    <annotation>
                        <documentation>ID of the credential to use to sign SAML assertions.</documentation>
                    </annotation>
                </attribute>
                <attribute name="signAssertions" type="boolean" default="false">
                    <annotation>
                        <documentation>
                            A boolean flag indicating whether issued assertions should be signed. If no signing
                            credential is provided on this configuration and no default signing credential is provided
                            on the relying party configuration than signing will not occur regardless of this setting.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="signRequests" type="boolean" default="true">
                    <annotation>
                        <documentation>
                            A boolean flag indicating whether protocol requests should be signed. If no signing
                            credential is provided on this configuration and no default signing credential is provided
                            on the relying party configuration than signing will not occur regardless of this setting.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="signResponses" type="boolean" default="true">
                    <annotation>
                        <documentation>
                            A boolean flag indicating whether protocol responses should be signed. If no signing
                            credential is provided on this configuration and no default signing credential is provided
                            on the relying party configuration than signing will not occur regardless of this setting.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="securityPolicyRef" type="string" default="shibboleth.DefaultSecurityPolicy">
                    <annotation>
                        <documentation>
                            Reference, by ID, to the security policy to use for this profile.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

</schema>