resources/classpath/schema/shibboleth-2.0-attribute-resolver-dc.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="urn:mace:shibboleth:2.0:resolver:dc" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:dc="urn:mace:shibboleth:2.0:resolver:dc" xmlns:resolver="urn:mace:shibboleth:2.0:resolver"
    xmlns:sec="urn:mace:shibboleth:2.0:security" elementFormDefault="qualified">

    <import namespace="urn:mace:shibboleth:2.0:resolver"
        schemaLocation="classpath:/schema/shibboleth-2.0-attribute-resolver.xsd" />
        
    <import namespace="urn:mace:shibboleth:2.0:security"
        schemaLocation="classpath:/schema/shibboleth-2.0-security.xsd" />

    <complexType name="Static">
        <annotation>
            <documentation>
                A data connector that gets its information from a static list of attributes and values specified within
                this configuration.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="resolver:BaseDataConnectorType">
                <sequence>
                    <element name="Attribute" maxOccurs="unbounded">
                        <annotation>
                            <documentation>
                                Specifies an attribute, and its values, to be exposed by this connector.
                            </documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element name="Value" type="string" maxOccurs="unbounded">
                                    <annotation>
                                        <documentation>
                                            A value of the attribute. If the value contains characters that would
                                            otherwise need to be XML encoded you may wrap the value in a CDATA section.
                                        </documentation>
                                    </annotation>
                                </element>
                            </sequence>
                            <attribute name="id" type="string" use="required">
                                <annotation>
                                    <documentation>The ID of the attribute.</documentation>
                                </annotation>
                            </attribute>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    
    <complexType name="ComputedId">
        <annotation>
            <documentation>
                An ID created by taking the SHA-1 hash of the requesting entity's ID, an attribute value (usually a user identifier), and a salt.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="resolver:BaseDataConnectorType">
                <attribute name="generatedAttributeID" type="string" default="computedId">
                    <annotation>
                        <documentation>
                            The name of the attribute which should be used to as input to the computed ID.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="sourceAttributeID" type="string" use="required">
                    <annotation>
                        <documentation>
                            The name of the attribute which should be used to as input to the computed ID.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="salt" type="string" use="required">
                    <annotation>
                        <documentation>
                            A salt, of at least 16 bytes, used in the computed ID.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    
    <complexType name="StoredId">
        <annotation>
            <documentation>
                A connector that either generates a persistent ID by hashing or by looking it up in a database.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="resolver:BaseDataConnectorType">
                <choice>
                    <element ref="dc:ContainerManagedConnection">
                        <annotation>
                            <documentation>
                                A connection, or pool of connections, to the database managed by the application
                                container.
                            </documentation>
                        </annotation>
                    </element>
                    <element ref="dc:ApplicationManagedConnection">
                        <annotation>
                            <documentation>
                                A connection, or pool of connections, to the database managed by the data connector.
                            </documentation>
                        </annotation>
                    </element>
                </choice>
                <attribute name="generatedAttributeID" type="string" default="storedId">
                    <annotation>
                        <documentation>
                            The name of the attribute which should be used to as input to the computed ID.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="sourceAttributeID" type="string" use="required">
                    <annotation>
                        <documentation>
                            The name of the attribute which should be used to as input to the computed ID.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="salt" type="string" use="required">
                    <annotation>
                        <documentation>
                            A salt, of at least 16 bytes, used in the computed ID.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    
    <complexType name="RelationalDatabase">
        <annotation>
            <documentation>
                A database connector definition that uses JDBC version 3 to connect to and pull information from a
                relational database.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="resolver:BaseDataConnectorType">
                <sequence>
                    <choice>
                        <element ref="dc:ContainerManagedConnection">
                            <annotation>
                                <documentation>
                                    A connection, or pool of connections, to the database managed by the application
                                    container.
                                </documentation>
                            </annotation>
                        </element>
                        <element ref="dc:ApplicationManagedConnection">
                            <annotation>
                                <documentation>
                                    A connection, or pool of connections, to the database managed by the data connector.
                                </documentation>
                            </annotation>
                        </element>
                    </choice>
                    <element name="QueryTemplate" type="string">
                        <annotation>
                            <documentation>
                                A template that will be used to create the SQL query thats pulls information from the
                                database.
                            </documentation>
                        </annotation>
                    </element>
                    <element ref="dc:Column" minOccurs="0" maxOccurs="unbounded" />
                </sequence>
                <attribute name="readOnlyConnection" type="boolean" default="true">
                    <annotation>
                        <documentation>
                            A boolean flag that determines whether the connection to the database is read-only, if the
                            value is true, or read-write if the value is false.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="queryUsesStoredProcedure" type="boolean" default="false">
                    <annotation>
                        <documentation>
                            A boolean flag that determines whether stored procedures might be used in the SQL queries
                            used in this connector.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="cacheResults" type="boolean" default="true">
                    <annotation>
                        <documentation>
                            A boolean flag that determines whether to cache results. Results using a compound key
                            consisting of the principal name for whom the information is being requested and the actual
                            SQL query used.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="templateEngine" type="string" fixed="shibboleth.TemplateEngine">
                    <annotation>
                        <documentation>
                            Name of the template engine defined within the application.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <element name="ContainerManagedConnection" type="dc:ContainerManagedConnectionType">
        <annotation>
            <documentation>
                Describes a database connection source that is managed by the application container.
            </documentation>
        </annotation>
    </element>
    <complexType name="ContainerManagedConnectionType">
        <sequence>
            <element name="JNDIConnectionProperty" type="dc:PropertyType" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        A property used when constructing a JNDI initial context which in turn is used to lookup the
                        database DataSource.
                    </documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="resourceName" type="string" use="required">
            <annotation>
                <documentation>The resource name the DataSource is bound to in the JNDI tree.</documentation>
            </annotation>
        </attribute>
    </complexType>

    <element name="ApplicationManagedConnection" type="dc:ApplicationManagedConnectionType">
        <annotation>
            <documentation>
                Describes a database connection source that is managed by the attribute resolver data connector.
            </documentation>
        </annotation>
    </element>
    <complexType name="ApplicationManagedConnectionType">
        <attribute name="jdbcDriver" type="string" use="required">
            <annotation>
                <documentation>
                    This is the full qualified class name of the JDBC driver used to connect to the database.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="jdbcURL" type="string" use="required">
            <annotation>
                <documentation>
                    The JDBC URL for the database. These are usually of the form
                    jdbc:databaseProduceName:databaseSpecificInformation. For example, jdbc:hsql:mem:MyDatabase
                </documentation>
            </annotation>
        </attribute>
        <attribute name="jdbcUserName" type="string">
            <annotation>
                <documentation>The user name to use while connecting to the database.</documentation>
            </annotation>
        </attribute>
        <attribute name="jdbcPassword" type="string">
            <annotation>
                <documentation>The password to use while connecting to the database.</documentation>
            </annotation>
        </attribute>
        <attribute name="poolAcquireIncrement" type="positiveInteger" default="3">
            <annotation>
                <documentation>
                    The number of new connections that will be created when the pool is exhausted.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="poolAcquireRetryAttempts" type="positiveInteger" default="36">
            <annotation>
                <documentation>
                    The number of times the pool will try to establish a connection to a database.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="poolAcquireRetryDelay" type="positiveInteger" default="5000">
            <annotation>
                <documentation>
                    The amount of time, in milliseconds, the pool will wait before trying to retrieve a new connection
                    after it has failed.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="poolBreakAfterAcquireFailure" type="boolean" default="true">
            <annotation>
                <documentation>
                    A boolean flag that indicates whether the pool should be marked as permanently unavailable if a new
                    connection can not be established after the acquire retry attempts is reached.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="poolMinSize" type="positiveInteger" default="2">
            <annotation>
                <documentation>
                    The minimum number of connections the pool will establish with the database. A value of zero means
                    there is no minimum.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="poolMaxSize" type="positiveInteger" default="50">
            <annotation>
                <documentation>
                    The maximum number of connections the pool will establish with the database. A value of zero means
                    there is no maximum.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="poolMaxIdleTime" type="positiveInteger" default="600">
            <annotation>
                <documentation>
                    The maximum time, in seconds, that an established connection will remain idle before it is closed.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="poolIdleTestPeriod" type="positiveInteger" default="180">
            <annotation>
                <documentation>
                    The interval, in seconds, that the pool will scan idle established connections, using the validation
                    query, for liveness.
                </documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="PropertyType">
        <attribute name="name" type="string" use="required">
            <annotation>
                <documentation>The name of the property.</documentation>
            </annotation>
        </attribute>
        <attribute name="value" type="string" use="required">
            <annotation>
                <documentation>The value of the property,</documentation>
            </annotation>
        </attribute>
    </complexType>

    <element name="Column" type="dc:ColumnType">
        <annotation>
            <documentation>A description of a column in the result set from the query.</documentation>
        </annotation>
    </element>
    <complexType name="ColumnType">
        <attribute name="columnName" type="string" use="required">
            <annotation>
                <documentation>The name of the database column.</documentation>
            </annotation>
        </attribute>
        <attribute name="attributeID" type="string">
            <annotation>
                <documentation>The name of the attribute that data from this column should be added to.</documentation>
            </annotation>
        </attribute>
        <attribute name="type" type="dc:ColumnDataType" default="String">
            <annotation>
                <documentation>The Java data type data in the column should be extracted as.</documentation>
            </annotation>
        </attribute>
    </complexType>

    <simpleType name="ColumnDataType">
        <restriction base="string">
            <enumeration value="BigDecimal" />
            <enumeration value="Boolean" />
            <enumeration value="Byte" />
            <enumeration value="ByteArray" />
            <enumeration value="Date" />
            <enumeration value="Double" />
            <enumeration value="Float" />
            <enumeration value="Integer" />
            <enumeration value="Long" />
            <enumeration value="Object" />
            <enumeration value="Short" />
            <enumeration value="String" />
            <enumeration value="Time" />
            <enumeration value="Timestamp" />
            <enumeration value="URL" />
        </restriction>
    </simpleType>
    
    <complexType name="LDAPDirectory">
        <annotation>
            <documentation>
                A data connector that can pull information from an LDAP, version 3, directory.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="resolver:BaseDataConnectorType">
                <sequence>
                    <element name="FilterTemplate" type="string">
                        <annotation>
                            <documentation>
                                A template used to construct the LDAP filter used to query the directory.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="ReturnAttributes" type="string" minOccurs="0">
                        <annotation>
                            <documentation>
                                A space separated list of attributes that should be returned from the query.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="LDAPProperty" type="dc:PropertyType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>
                                LDAP connection properties relevant to the underlying provider being used.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="StartTLSTrustCredential" type="sec:X509Credential" minOccurs="0">
                        <annotation>
                            <documentation>
                                The X.509 trust information to use when connecting to the directory over LDAPS or startTLS.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="StartTLSAuthenticationCredential" type="sec:X509Credential" minOccurs="0">
                        <annotation>
                            <documentation>
                                The X.509 client authentication information to use when connecting to the directory over LDAPS or startTLS.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="ldapURL" type="string" use="required">
                    <annotation>
                        <documentation>
                        The URL to the LDAP server.  This URL MUST NOT include the base DN.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="principal" type="string">
                    <annotation>
                        <documentation>The DN for the principal connecting to the LDAP directory.</documentation>
                    </annotation>
                </attribute>
                <attribute name="principalCredential" type="string">
                    <annotation>
                        <documentation>
                            The credential for the principal connecting to the LDAP directory.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="baseDN" type="string" use="required">
                    <annotation>
                        <documentation>
                            The base DN from which to search from.  If the search scope is set to ONELEVEL only the entries 
                            within this node will be search, if SUBTREE is specified entries within this node and descendant 
                            nodes will be searched.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="searchScope" type="dc:SearchScopeType" default="SUBTREE">
                    <annotation>
                        <documentation>
                            The LDAP search scope. Acceptable values are OBJECT, ONELEVEL, SUBTREE. If no scope is given
                            SUBTREE is used.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="useStartTLS" type="boolean" default="false">
                    <annotation>
                        <documentation>
                            A boolean flag indicating whether startTLS should be used when connecting to the LDAP.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="poolInitialSize" type="nonNegativeInteger" default="0">
                    <annotation>
                        <documentation>
                            Initial number of connections established to the directory when this connector starts up.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="poolMaxIdleSize" type="nonNegativeInteger" default="3">
                    <annotation>
                        <documentation>
                            The maximum number of idle connections that will remain in the pool.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="searchTimeLimit" type="positiveInteger" default="3000">
                    <annotation>
                        <documentation>
                            The maximum amount of time, in milliseconds, to wait for search results. If this limit is
                            reached a timeout error is raised.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="maxResultSize" type="positiveInteger" default="1">
                    <annotation>
                        <documentation>The maximum number of results that may be returned from a query.</documentation>
                    </annotation>
                </attribute>
                <attribute name="cacheResults" type="boolean" default="true">
                    <annotation>
                        <documentation>
                            A boolean flag indicating that search results should be cached for the duration of a user's
                            session.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="mergeResults" type="boolean" default="false">
                    <annotation>
                        <documentation>
                            A boolean flag indicating that if multiple results are returned they should be merged into
                            a single result that contains the combined attributes and values of all the results. If more
                            than one result is returned and this is set to false and exception will be thrown.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="noResultIsError" type="boolean" default="false">
                    <annotation>
                        <documentation>
                            A boolean flag indicating whether a query returning no results should be considered an error. If
                            an error is raised and a failover dependency is defined for this connector the failover will
                            be invoked.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="templateEngine" type="string" fixed="shibboleth.TemplateEngine">
                    <annotation>
                        <documentation>Name of the template engine defined within the application.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <simpleType name="SearchScopeType">
        <annotation>
            <documentation>Supported search scopes.</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="SUBTREE" />
            <enumeration value="ONELEVEL" />
            <enumeration value="OBJECT" />
        </restriction>
    </simpleType>

</schema>